
TN_CSDLPT/TN_CSDLPT/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TN_CSDLPT/TN_CSDLPT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TN_CSDLPT/TN_CSDLPT/obj/Debug/TN_CSDLPT.csprojAssemblyReference.cache
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/db.lock
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/storage.ide-shm
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/storage.ide
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/storage.ide-wal
