TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/db.lock
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/storage.ide-shm
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/storage.ide
TN_CSDLPT/.vs/TN_CSDLPT/v16/Server/sqlite3/storage.ide-wal
